<header>
    <div id="logo">
        <a href="/">Codeial</a>
    </div>
    <div class="navigation">
        <%if(locals.user){%>
                <a href="/users/profile"><%=user.name%></a>
                <a href="/users/sign-out">Sign Out</a>

            <%} else {%>
                    <a href="/users/sign-in">Sign In</a>
                    <a href="/users/sign-up">Sign Up</a>
            <%}%>
    </div>

</header>