header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: black;
  height: 40px;
  font-size: 1.3rem;
}

header #logo {
  color: red;
  position: relative;
  left: 8%;
}

header .navigation {
  position: absolute;
  color: white;
  right: 8%;
  text-decoration: none;
}

header a {
  color: white;
  text-decoration: none;
}
