#user-chat-box {
  border: 1px solid rebeccapurple;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 350px;
  width: 300px;
  padding: 5px;
  background: whitesmoke;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

#user-chat-box #chat-messages-field {
  list-style-type: none;
  padding: 10px;
  height: 70%;
  background-color: white;
  overflow: auto;
}

#user-chat-box #chat-messages-field .other-message {
  text-align: left;
  padding: 5px;
}

#user-chat-box #chat-messages-field .other-message span {
  padding: 15px;
  background-color: #ffa0a0;
}

#user-chat-box #chat-messages-field .self-message {
  text-align: right;
  padding: 5px;
}

#user-chat-box #chat-messages-field .self-message span {
  padding: 15px;
  background-color: #a0dcff;
}

#user-chat-box #chat-message-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 24%;
}

#user-chat-box #chat-message-input-container #chat-message-input {
  height: 50%;
  width: 70%;
}

#user-chat-box #chat-message-input-container #send-message {
  height: 55%;
  width: 30%;
  font-size: 25px;
  color: white;
  border: none;
  background: #58d258;
}
