footer {
  display: flex;
  color: white;
  align-items: center;
  background-color: black;
  height: 40px;
  font-size: 1.3rem;
}

footer #disclaimer {
  position: relative;
  left: 3%;
}

footer .links {
  position: absolute;
  color: white;
  right: 8%;
  text-decoration: none;
}

footer a {
  color: white;
  text-decoration: none;
}
